{% extends "base.html" %}
{% block title %} Login - Attendy {% endblock %}
{% block head %}
<link rel="stylesheet" href={{url_for("static", filename="css/login.css")}}>
{% endblock %}
{% block content %}
<div class="center">
    <h1>Sign Up</h1>
    <form method="POST">
        <div class="text_field">
            <input type="text" name="name" id="name" required>
            <span></span>
            <label>Full Name</label>
        </div>
        <div class="text_field">
            <input type="text" name="email" id="email" required>
            <span></span>
            <label>Email</label>
        </div>
        <div class="text_field">
            <input type="password" name="password1" id="password1"required>
            <span></span>
            <label>Password</label>
        </div>
        <div class="text_field">
            <input type="password" name="password2" id="password2" required>
            <span></span>
            <label>Confirm Password</label>
        </div>
        <input type="submit" name="submit">
        <div class="signup_link">
            Already registered? <a href={{url_for("auth.login")}}>Login</a>
        </div>
    </form>
</div>

{% endblock %}